<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if(title){ %>
      <title> <%= title %> </title>
  <% }else { %>
      <title>Remainder</title>
  <% } %>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../plugins/dist/datepicker.css">
  <link rel="stylesheet" href="../fonts/font-icons/css/all.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>

  <!-- header -->
  <nav class="navbar navbar-expand-lg rm-nav-bg p-3">
    <div class="rm-header-container container">
      <a href="/" class="navbar-brand rm-brand">Remainder</a>
    </div>
  </nav>
