<%- include('header'); %>

<div class="rm-user-container">
  <div class="rm-user-container-inn">

    <div class="rm-userposts">

    </div>

  </div>

  <div class="rm-user-container-inn-right">
    <div class="rm-userpost-compose-wrap mb-4 mt-4">
      <div class="rm-userpost-compose-wrap-in">
        <a href="/create" class="btn rm-form-compose-btn my-2 my-sm-0 "  id="rm-form-compose-btn">Create</a>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); %>


